* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.page {
    margin: auto;
    background-color: #FFFFFF;


}

.top {
    background-color: hsl(356, 100%, 66%);
    height: 50%;
    border-bottom-left-radius:80px;


}

.menu {
    padding: 5vh;
    display: flex;
    justify-content: space-between;

}
.text_box{
    display: flex;
    margin: 5vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.title_text{
   padding-top: 5vh;
   color:hsl(0, 0%, 100%);

    font-size: 10vmin;
    font-weight: bold;
}
.subtitle_text{
    padding-top: 5vh;
    color:hsl(0, 0%, 100%);
    font-size: 5vmin;

}
.button_menu{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.button1 {
    background-color: #FFFFFF;
    border: none;
    border-radius: 12px;
    color: hsl(356, 100%, 66%);
    padding: 2vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vmin;
    margin: 4px 2px;
    cursor: pointer;
}
.button2 {
    background-color: hsl(356, 100%, 66%);
    border:2px solid #FFFFFF;
    border-radius: 20px;
    color: white;
    padding: 2vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vmin;
    margin: 4px 2px;
    cursor: pointer;
}
.middle-heading{
    padding: 10vh;
    color:#000000;
    text-align: center;
    font-size: 8vmin;
    font-weight: bold;
}
.middle-div-heading{
    padding: 2vh;
    color:#000000;
    text-align: center;
    font-size: 6vmin;
    font-weight: bold;
}
.middle-div-text{
    padding: 1vh;
    color:gray;
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
}
.middle-subsection{
    padding: 10vh;
}
.middle-section{
    padding: 5vh;
}
.desktop_editor
{
    float: right;
}
.cell_phone_div{
    display: flex;
    background-color: hsl(237, 23%, 32%);
    background-image: url("images/bg-pattern-circles.svg");
    background-position: left;
    background-repeat: no-repeat;
    overflow: visible;
    height:50vh;
    border-bottom-left-radius:80px;
    border-top-right-radius:80px;
}
.cell_phone_div_heading{
    padding: 2vh;
    color:#FFFFFF;
    text-align: right;
    font-size: 6vmin;
    font-weight: bold;
}
.cell_phone_div_text{
    padding: 1vh;
    color:gray;
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
}
.cell_phone_container{
    position: relative;
    top:-50px;
}
.footer{
    margin-top: 30vh;
    padding: 10vw;
    display: flex;
    border-top-right-radius:80px;
    background-color: hsl(237, 23%, 32%);
    height: 50vh;
}
.col1{
    flex:1;
    color: #FFFFFF;

}
.col2{
    flex: 1;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;

}
.col3{
    flex: 1;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;

}
.col4{
    flex:1;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;

}
.footer_heading{
    font-size: 3vmin;
    font-weight: bold;
    padding: 1vh;
}
.footer_text{
    font-size: 2vmin;
    font-weight: normal;
    padding: 1vh;
}
